{% extends 'base.html.twig' %}

{% block title %}
    Nouveau Modules
{% endblock %}

{% block body %}
    <h1 class="centerH1" > Ajout d'un Module</h1>

    <div class="container">
    {{ form_start(form) }}
    {# Ici appel du form ModuleType #}
        <div>{{ form_row(form.name) }}</div>

        <div>{{ form_row(form.description) }}</div>
        <div>
            <div class="mt-3 d-flex justify-content-evenly">
                <a class="mt-4 ms-5 btn btn-outline-danger" href="{{ path('app_dashboard') }}"> Annuler </a>
                {{ form_row(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}